.background {
    background-color: rgba(244, 241, 222, 1);
}

.description {
    padding-top: 2vh;
    width: 45%;
    margin: 1vw;
    font-size: 1.7vh;
}

.stats {
    width: 30vw;
    margin: 1.5vh;
}

.average {
    text-align: left;
    font-size: 2vh;
}

.accuracy {
    text-align: left;
    font-size: 2vh;
    margin: 0.5vh;
}

.keyrow {
    display: flex;
    height: 16vh;
    justify-content: center;

}

.genkey {
    font-size: 10vh;
    text-align: center;
    transition: background-color 0.1s ;
}

.begin {
    background-color: rgba(61, 64, 91, 0.1);
    border-radius: .5rem;
    width: 15vh;
    margin: auto;
}

.key {
    margin: 1.5vh;
    text-align: center;
    width: 15vh;
    transition: all 0.05s;
    background-color: rgba(61, 64, 91, 0.1);
    border-radius: .5rem;
}

.key > span {
    font-size: 5vh;
}

.key > div {
    font-size: 2vh;
    padding-top: 1vh;
}

.accurate {
    background-color: rgba(129, 178, 154, 1);
}

.inaccurate {
    background-color: rgba(224, 122, 95, 1);
}


.reload-div {
    text-align: right;
    margin: 1vh;
}